[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
asynctest = "*"
autoflake = "*"
autopep8 = "*"
awscli = "*"
certifi = "*"
crayons = "*"
gprof2dot = "*"
ipython = "*"
mypy = "*"
pep8 = "*"
pre-commit = "*"
pyprof2calltree = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-console-scripts = "*"
pytest-cov = "*"
pytest-docker = "*"
pytest-mock = "*"
pytest-profiling = "*"
pytest-pylint = "*"
pytest-sanic = "*"
pytest-timeout = "*"
pytest-xdist = "*"
recommonmark = "*"
redis = "*"
requests = "*"
sphinx = "*"
sphinxcontrib-programoutput = "*"
sphinxcontrib-restbuilder = "*"
urllib3 = "*"
yapf = "*"

[packages]
ujson = "*"
aiohttp = "*"
toolz = "*"
websockets = "*"
cchardet = "*"
uvloop = "*"
statsd = "*"
aiodns = "*"
aiocache = "*"
pygtrie = "*"
funcy = "*"
pipenv = "*"
click = "*"
sanic = "*"
aiojobs = "*"
jsonrpcserver = "*"
cytoolz = "*"
janus = "*"
python-json-logger = "*"
progress = "*"
lru-dict = "*"
steem = "*"
websocket-client = "*"
pylint = "*"

[requires]
python_version = "3.6"

[dev-packages.jsonrpcclient]
extras = [ "requests",]

[packages.jsonrpcclient]
extras = [ "aiohttp",]
