[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"autopep8" = "*"
"gprof2dot" = "*"
"pep8" = "*"
"pyprof2calltree" = "*"
"urllib3" = "*"
asynctest = "*"
autoflake = "*"
awscli = "*"
certifi = "*"
crayons = "*"
cython = "*"
ipython = "*"
isort = "*"
jsonschema = "==2.6.0"
jupyter = "*"
line-profiler = "*"
mypy = "*"
pre-commit = "*"
progress = "*"
pydevd = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-console-scripts = "*"
pytest-cov = "*"
pytest-docker = "*"
pytest-mock = "*"
pytest-profiling = "*"
pytest-pylint = "*"
pytest-sanic = "*"
pytest-timeout = "*"
python-rapidjson = "*"
requests = "*"
yapf = "*"
funcy = "*"
vprof = "*"

[packages]
aiodns = "*"
aiohttp = "*"
aredis = "*"
cchardet = "*"
configargparse = "*"
cytoolz = "*"
hiredis = "*"
pipenv = "*"
pygtrie = "*"
python-json-logger = "*"
python-rapidjson = "*"
sanic = "*"
structlog = "*"
ujson = "*"
uvloop = "*"
websockets = "*"

[requires]
python_version = "3.6"
