[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
sanic = "*"
asynctest = "*"
autoflake = "*"
"autopep8" = "*"
awscli = "*"
certifi = "*"
crayons = "*"
"gprof2dot" = "*"
ipython = "*"
mypy = "*"
"pep8" = "*"
pre-commit = "*"
pylint = "*"
"pyprof2calltree" = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-console-scripts = "*"
pytest-cov = "*"
pytest-docker = "*"
pytest-mock = "*"
pytest-profiling = "*"
pytest-pylint = "*"
pytest-sanic = "*"
pytest-timeout = "*"
requests = "*"
"urllib3" = "*"
yapf = "*"
progress = "*"
jsonschema = "==2.6.0"
isort = "*"
pydevd = "*"
line-profiler = "*"
structlog = "*"
python-rapidjson = "*"
jupyter = "*"

[packages]
ujson = "*"
aiohttp = "*"
toolz = "*"
uvloop = "*"
statsd = "*"
aiodns = "*"
pygtrie = "*"
funcy = "*"
pipenv = "*"
cytoolz = "*"
janus = "*"
python-json-logger = "*"
cchardet = "*"
async-timeout = "*"
progress = "*"
pytest = "*"
aiocache = {extras = ["redis"]}
websockets = "*"
sanic = "*"
msgpack = "*"
configargparse = "*"
structlog = "*"
python-rapidjson = "*"
line-profiler = "*"
cython = "*"
hiredis = "*"
aredis = "*"

[requires]
python_version = "3.6"
